@use '~@angular/material' as mat;
@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

@mixin bookish-guacamole-button-theme($theme) {
	$accent: map-get($theme, accent);

	.bookish-guacamole-button {
		@include unselectable();
		@include text-truncate();
		cursor: pointer;
		transition: all $bookish-guacamole-transition-default ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $bookish-guacamole-font-family-outstanding;
		font-size: $bookish-guacamole-font-size-button;
		padding: 0.4em 0.75em;
		color: $bookish-guacamole-color-white;
		background-color: mat.get-color-from-palette($accent);
		border-width: 0;
		box-shadow: inset 0 0 0 2px mat.get-color-from-palette($accent);
		border-radius: $bookish-guacamole-border-radius-default;
		letter-spacing: 1px;
		word-spacing: 1px;

		> * {
			display: flex;
			align-items: center;
		}

		bookish-guacamole-icon {
			flex-shrink: 0;
			font-size: 1.4em;
			margin-right: $bookish-guacamole-icon-spacing-l;
		}

		&--outline {
			background-color: transparent;
			color: mat.get-color-from-palette($accent);

			@include hover-and-active() {
				color: $bookish-guacamole-color-white;
				box-shadow: inset 0 0 0 2em mat.get-color-from-palette($accent);
			}
		}

		&--outstanding {
			border-radius: $bookish-guacamole-border-radius-outstanding;

			@include hover-and-active() {
				border-radius: $bookish-guacamole-border-radius-outstanding-hover;
			}
		}

		&:disabled {
			opacity: 0.7;
			-webkit-filter: grayscale(.3);
			filter: grayscale(.3);
			pointer-events: none;

			&:hover {
				cursor: default;
			}
		}
	}
}
