@import '~@angular/material/theming';
@import "~src/styles/base/variables";
@import "~src/styles/base/mixins";

@mixin bookish-guacamole-card-theme($theme) {
	$accent: map-get($theme, accent);

	.bookish-guacamole-card {
    margin-top: 14px;

    &__header {
      margin-top: -30px!important;
      margin-bottom: 15px;
      border-radius: 3px;
      padding: 15px;
      background: linear-gradient(60deg, mat-color($accent), rgba(mat-color($accent), 0.9));
      box-shadow: 0 4px 20px 0 rgb(0 0 0 / 14%), 0 7px 10px -5px rgba(mat-color($accent), 0.6);
      color: $bookish-guacamole-color-white;
    }
	}
}
