@import "~src/styles/base/variables";
@import '~@angular/material/theming';

@mixin r4-sidebar-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$foreground: map-get($theme, foreground);
	$divider: map-get($foreground, divider);

	mat-sidenav-container {
		height: 100%;

		.sidebar {
			background-color: mat-color($primary);
			padding-bottom: $fresh-angular-sidebar-toggle-size;
			border-bottom-right-radius: 2%;
			border-right-width: 0;

			.sidebar-brand {
				font-family: $fresh-angular-font-family-outstanding;
				transition: all $fresh-angular-sidebar-animation-duration ease-out;
				padding: $fresh-angular-spacing-base $fresh-angular-toolbar-horizontal-spacing-default;
				border-bottom: 1px solid $divider;
				display: flex;
				align-items: center;
				width: $fresh-angular-sidebar-width-default;
				overflow: hidden;

				&__logo {
					color: $fresh-angular-color-brand-logo;
					font-size: $fresh-angular-brand-logo-size-default;
				}

				&__title {
					display: inline-block;
					font-size: $fresh-angular-brand-title-size-default;
					color: $fresh-angular-color-brand-title;
					overflow: hidden;
				}

				&__beta {
					margin-left: $fresh-angular-spacing-xs;
					color: $fresh-angular-color-brand-beta;
					overflow: hidden;
				}

				&--collapsed {
					width: $fresh-angular-sidebar-width-collapsed;
					font-size: 0;
					justify-content: center;
					padding: $fresh-angular-spacing-base 0;

					.sidebar-brand__title {
						display: none;
					}

					.sidebar-brand__beta {
						display: none;
					}
				}
			}

			.mat-list-item {
				transition: all $fresh-angular-sidebar-animation-duration ease-out;
				font-family: $fresh-angular-font-family-outstanding;
				position: relative;
				color: $fresh-angular-color-white;
				background-color: mat-color($primary);
				width: $fresh-angular-sidebar-width-default;
				overflow: hidden;

				&:before {
					transition: all 225ms ease-out;
					content: "";
					position: absolute;
					bottom: 0;
					top: -2px;
					left: 0;
					width: 48px;
					border: $fresh-angular-spacing-xs solid transparent;
					border-radius: $fresh-angular-border-radius-outstanding;
				}

				.mat-list-item-content {
					transition: all $fresh-angular-sidebar-animation-duration ease-out;
					padding: 0 $fresh-angular-spacing-s;
					margin-left: 3px;
					background-color: mat-color($primary);

					.mat-list-icon {
						transition: all $fresh-angular-sidebar-animation-duration ease-out;
						transform: rotate(-2deg);
						padding: 0;
					}

					.mat-list-text {
						transition: all $fresh-angular-sidebar-animation-duration ease-out;
						padding-left: $fresh-angular-spacing-s;
					}
				}

				&:hover {
					background-color: map-get($primary, darker);

					&:before {
						border-color: map-get($primary, darker);
					}

					.mat-list-item-content {
						background-color: map-get($primary, darker);

						.mat-list-icon {
							transform: scale(1.1) rotate(4deg);
						}

						.mat-list-text {
							padding-left: $fresh-angular-spacing-s + $fresh-angular-icon-spacing-default;
						}
					}
				}

				&.active {
					background-color: map-get($primary, darker);

					&:before {
						border-color: mat-color($accent);
					}

					.mat-list-item-content {
						background-color: map-get($primary, darker);

						.mat-list-icon {
							transform: scale(1.1) rotate(4deg);
						}

						.mat-list-text {
							padding-left: $fresh-angular-spacing-s + $fresh-angular-icon-spacing-default;
						}
					}

					&:active,
					&:focus {
						background-color: map-get($primary, darker);

						.mat-list-item-content {
							background-color: map-get($primary, darker);
						}
					}
				}

				&--collapsed {
					width: $fresh-angular-sidebar-width-collapsed;

					.mat-list-item-content {
						margin-left: 2px;

						.mat-list-text {
							display: none;
						}
					}
				}
			}

			.sidebar-toggle {
				position: absolute;
				bottom: 0;
				right: 0;
				font-size: 0;
			}
		}
	}
}
