<div class="bookish-guacamole-theme-wrapper {{ theme$ | async }}-theme">
  <mat-sidenav-container
    autosize
    class="sidenav-container"
  >
    <mat-sidenav
      #drawer
      class="sidenav"
      style="background-image: url('assets/sidebar_bg.jpg');"
      fixedInViewport
      [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isMobile$ | async) ? 'over' : 'side'"
      [opened]="(isMobile$ | async) === false"
    >
      <div class="sidenav__logo">
        <img
          class="sidenav__logo__image"
          alt="Logo"
          src="assets/logo_small.jpg"
        />
        <span class="sidenav__logo__title">{{ title }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="sidenav__list">
        <a
          *ngFor="let item of navigationItems"
          routerLink="{{ item.path }}"
          [routerLinkActive]="'sidenav__list__item--active'"
          class="sidenav__list__item"
        >
          <mat-icon class="sidenav__list__item__icon">{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="flex-column align-items-end justify-content-center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isMobile$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <mat-slide-toggle
          color="accent"
          [checked]="isDarkTheme"
          (change)="onThemeToggle()"
        >
          <mat-icon
            [color]="isDarkTheme ? 'accent' : undefined"
            inline
          >
            nightlight_round
          </mat-icon>
        </mat-slide-toggle>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
