<div class="bookish-guacamole-theme-wrapper {{ theme$ | async }}-theme">
  <mat-sidenav-container
    class="sidenav-container"
  >
    <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{'sidenav--collapsed': sideNavCollapsed}"
      style="background-image: url('assets/sidebar_bg.jpg');"
      fixedInViewport
      [attr.role]="(isMobile$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isMobile$ | async) ? 'over' : 'side'"
      [opened]="(isMobile$ | async) === false"
    >
      <div class="sidenav__logo">
        <img
          class="sidenav__logo__image"
          alt="Logo"
          src="assets/logo_small.jpg"
        />
        <span class="sidenav__logo__title text-truncate">{{ title }}</span>
      </div>
      <mat-divider></mat-divider>
      <div class="sidenav__list">
        <a
          *ngFor="let item of navigationItems"
          routerLink="{{ item.path }}"
          [routerLinkActive]="'sidenav__list__item--active'"
          class="sidenav__list__item"
          [ngClass]="{'sidenav__list__item--collapsed': sideNavCollapsed}"
          [matTooltip]="item.label"
          matTooltipPosition="after"
          [matTooltipDisabled]="!sideNavCollapsed"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          {{ item.label }}
        </a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content [ngClass]="{'sidenav-content': (isMobile$ | async) === false, 'sidenav-content--collapsed': sideNavCollapsed}">
      <mat-toolbar>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="(isMobile$ | async) else navCollapseToggle"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <ng-template #navCollapseToggle>
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            class="collapse-toggle"
            [ngClass]="{'collapse-toggle--collapsed': sideNavCollapsed}"
            [color]="sideNavCollapsed ? 'accent' : undefined"
            (click)="onNavigationCollapseToggle()"
            [matTooltip]="sideNavCollapsed ? 'Expand navigation' : 'Collapse navigation'"
            matTooltipPosition="after"
          >
            <mat-icon aria-label="Side nav toggle icon">menu_open</mat-icon>
          </button>
        </ng-template>
        <span class="spacer"></span>
        <mat-slide-toggle
          color="accent"
          [checked]="isDarkTheme"
          (change)="onThemeToggle()"
        >
          <mat-icon
            [color]="isDarkTheme ? 'accent' : undefined"
            inline
          >
            nightlight_round
          </mat-icon>
        </mat-slide-toggle>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
