@import "~src/styles/base/variables";
@import '~@angular/material/theming';

$fresh-angular-primary: mat-palette($fresh-angular-brand-color-map, 200, 100, 300);
$fresh-angular-accent: mat-palette($mat-orange, 500, 100, 700);
$fresh-angular-warn: mat-palette($mat-deep-orange, 600);

$fresh-angular-theme: mat-light-theme($fresh-angular-primary, $fresh-angular-accent, $fresh-angular-warn);
