<mat-expansion-panel
  *ngIf="componentTemplate && componentTemplate.templateText"
  hideToggle
  class="align-self-stretch mat-elevation-z0 rounded-0 mt-5 mb-3"
>
  <mat-expansion-panel-header>
    <mat-panel-title>
      {{ label }}
    </mat-panel-title>
    <mat-icon matTooltip="View code">code</mat-icon>
  </mat-expansion-panel-header>
  <pre>
    <code
      [highlight]="componentTemplate.templateText"
      [languages]="['html']"
    ></code>
    <button
      mat-stroked-button
      color="accent"
      [cdkCopyToClipboard]="componentTemplate.templateText"
    >
      <mat-icon>content_copy</mat-icon>
      Copy code
    </button>
  </pre>
</mat-expansion-panel>
<ng-content></ng-content>
