<app-card
  class="example-card"
  cardTitle="Shiba Inu"
  cardImageUrl="https://images.unsplash.com/photo-1578133630261-a79a92922335?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&q=80&w=400"
>
  <ng-container cardContent>
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
  </ng-container>
  <ng-container cardFooter>
    <button mat-button (click)="onLikeButtonClick()">Like</button>
    <button mat-button>Share</button>
  </ng-container>
</app-card>
