@import "./variables";
@import "./mixins";

.clickable {
	@include unselectable();
	cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.text-bold {
	font-weight: bolder;
}

.text-large {
	font-size: $bookish-guacamole-font-size-large;
}

.text-title {
  font-size: $bookish-guacamole-font-size-title;
}

.text-small {
	font-size: $bookish-guacamole-font-size-caption;
}
