@import '~@angular/material/theming';

// minor overrides
// ---------------
$link-hover-decoration: none;
$label-margin-bottom: 0;


// fonts
// fallback font families are configured in material base theming
// --------------------------------------------------------------
$bookish-guacamole-font-family-base: 'Lato';
$bookish-guacamole-font-family-outstanding: 'Lato';
$bookish-guacamole-font-size-base: 16px;
$bookish-guacamole-font-size-large: 18px;
$bookish-guacamole-line-height-base: 1.5;
$bookish-guacamole-font-size-headline: 24px;
$bookish-guacamole-line-height-headline: 36px;
$bookish-guacamole-font-size-title: 20px;
$bookish-guacamole-line-height-title: 32px;
$bookish-guacamole-font-size-subheading-2: 16px;
$bookish-guacamole-line-height-subheading-2: 28px;
$bookish-guacamole-font-size-subheading-1: 15px;
$bookish-guacamole-line-height-subheading-1: 24px;
$bookish-guacamole-font-size-caption: 14px;
$bookish-guacamole-line-height-caption: 20px;
$bookish-guacamole-font-size-button: 16px;


// sizes & spacings
// ----------------

// base size
$bookish-guacamole-size-default: 36px;

$bookish-guacamole-spacing-xxxxxxxl: $bookish-guacamole-size-default * 2; 					// 72px
$bookish-guacamole-spacing-xxxxxxl: round($bookish-guacamole-size-default * 1.8333333333);	// 66px
$bookish-guacamole-spacing-xxxxxl: round($bookish-guacamole-size-default * 1.6666666666); 	// 60px
$bookish-guacamole-spacing-xxxxl: round($bookish-guacamole-size-default * 1.5); 				// 54px
$bookish-guacamole-spacing-xxxl: round($bookish-guacamole-size-default * 1.3333333333); 		// 48px
$bookish-guacamole-spacing-xxl: round($bookish-guacamole-size-default * 1.1666666666); 		// 42px
$bookish-guacamole-spacing-xl: $bookish-guacamole-size-default * 1; 							// 36px
$bookish-guacamole-spacing-l: round($bookish-guacamole-size-default * .8333333333); 			// 30px
$bookish-guacamole-spacing-base: round($bookish-guacamole-size-default * .6666666666); 		// 24px
$bookish-guacamole-spacing-m: round($bookish-guacamole-size-default * .5); 					// 18px
$bookish-guacamole-spacing-s: round($bookish-guacamole-size-default * .3333333333); 			// 12px
$bookish-guacamole-spacing-xs: round($bookish-guacamole-size-default * .1666666666); 			// 6px
$bookish-guacamole-spacing-micro: round($bookish-guacamole-size-default * .0833333333); 		// 3px
$bookish-guacamole-spacing-nano: round($bookish-guacamole-size-default * .0555555555); 		// 2px


// breakpoints for bootstrap grid
// ------------------------------
$spacer: $bookish-guacamole-size-default;
$grid-gutter-width: $spacer;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);


// app brand
// ----------
$bookish-guacamole-brand-logo-size-default: 40px;
$bookish-guacamole-brand-logo-size-handset: 32px;
$bookish-guacamole-brand-logo-spacing-handset: 2px;
$bookish-guacamole-brand-title-size-default: 20px;
$bookish-guacamole-brand-title-size-handset: 16px;


// app colors
// ----------

// green
$bookish-guacamole-color-green-default: #0F596E;
$bookish-guacamole-color-green-light: #30889C;
$bookish-guacamole-color-green-dark: #0E4D5E;
$bookish-guacamole-color-green-darker: #0C3F4C;

// orange
$bookish-guacamole-color-orange-default: #EB6012;
$bookish-guacamole-color-orange-light: #F2874F;
$bookish-guacamole-color-orange-dark: #D05613;
$bookish-guacamole-color-orange-darker: #B84D11;

// white
$bookish-guacamole-color-white: #FFFFFF;

// black
$bookish-guacamole-color-black: #333333;

// grey
$bookish-guacamole-color-grey1: #9E9E9E;

// material color map
$bookish-guacamole-primary-color-map: (
  100: $bookish-guacamole-color-green-light,
  200: $bookish-guacamole-color-green-default,
  300: $bookish-guacamole-color-green-dark,
  400: $bookish-guacamole-color-green-darker,
  contrast: (
    100: $light-secondary-text,
    200: $light-primary-text,
    300: $light-primary-text,
  )
);

$bookish-guacamole-accent-color-map: (
  100: $bookish-guacamole-color-orange-light,
  200: $bookish-guacamole-color-orange-default,
  300: $bookish-guacamole-color-orange-dark,
  400: $bookish-guacamole-color-orange-darker,
  contrast: (
    100: $light-secondary-text,
    200: $light-primary-text,
    300: $light-primary-text,
  )
);

// brand colors
$bookish-guacamole-color-brand-logo: $bookish-guacamole-color-orange-default;
$bookish-guacamole-color-brand-title: $bookish-guacamole-color-orange-default;
$bookish-guacamole-color-brand-beta: $bookish-guacamole-color-white;

// text link colors
$bookish-guacamole-color-text-link: $bookish-guacamole-color-green-dark;
$bookish-guacamole-background-text-link: transparent;

$success-colors: mat-palette($mat-green, 400);
$warning-colors: mat-palette($mat-amber, 400);


// layout and ui elements
// ---------------

// images
$bookish-guacamole-image-width-default: 600px;
$bookish-guacamole-image-height-default: 400px;

// icons
$bookish-guacamole-icon-size-default: 24px;
$bookish-guacamole-icon-space-default: 48px;
$bookish-guacamole-icon-spacing-default: 2px;
$bookish-guacamole-icon-spacing-l: 4px;

// mikado
$bookish-guacamole-mikado-size-default: $bookish-guacamole-icon-space-default;

// button
$bookish-guacamole-button-size-default: 36px;

// toolbar
$toolbar-breakpoint: map-get($grid-breakpoints, md);
$bookish-guacamole-toolbar-z-index: $cdk-z-index-overlay-backdrop - 1;
$bookish-guacamole-toolbar-height-default: 60px;
$bookish-guacamole-toolbar-height-mobile: $bookish-guacamole-icon-space-default;
$bookish-guacamole-toolbar-font-size-default: $bookish-guacamole-font-size-large;
$bookish-guacamole-toolbar-font-size-mobile: $bookish-guacamole-font-size-base;
$bookish-guacamole-toolbar-horizontal-spacing-default: round($grid-gutter-width / 3);

// navigation sidebar
$bookish-guacamole-sidebar-width-default: 260px;
$bookish-guacamole-sidebar-width-collapsed: $bookish-guacamole-icon-space-default;
$bookish-guacamole-sidebar-animation-duration: 225ms;
$bookish-guacamole-sidebar-toggle-size: $bookish-guacamole-icon-space-default;


// transition
// ----------
$bookish-guacamole-transition-default: 250ms;


// border radius
// -------------
$bookish-guacamole-border-radius-default: 4px;
$bookish-guacamole-border-radius-outstanding: 100% 10% 100% 10% / 10% 100% 10% 100%;
$bookish-guacamole-border-radius-outstanding-hover: 10% 100% 10% 100% / 100% 10% 100% 10%;
